.list {
  list-style: none;
  padding: 0.1em 0.25em;
}

.list:not(:first-child) {
  padding: 0;
  padding-left: 1em;
}

.item {
  position: relative;
  padding-left: 1em;
  display: grid;
}

.link {
  margin-right: 0.5em;
}

.link:hover {
  background-color: var(--color-shade-three);
}

.item::before {
  position: absolute;
  left: 0;
  top: -2px;
  content: '';
  display: block;
  border-left: 1px solid currentColor;
  height: 1em;
  border-bottom: 1px solid currentColor;
  width: 10px;
}

.item:not(:last-child)::after {
  position: absolute;
  left: 0;
  bottom: -6px;
  content: '';
  display: block;
  border-left: 1px solid currentColor;
  height: 100%;
}

.root > .item {
  padding: 0;
}

.root > .item::before {
  display: none;
}
