.container {
  display: grid;
  align-content: start;
  position: relative;
  width: 250px;
}

.nav {
  position: absolute;
  left: 100%;
  top: calc(50% - 80px);
  z-index: 9000;
  background: var(--color-shade-one);
}

.nav button {
  padding: 0.5em;
  background: none;
}

.nav .nav__active {
  background: var(--color-shade-two);
}

.nav button:hover {
  background: var(--color-shade-two);
}

.nav svg {
  width: 16px;
  height: 16px;
  color: var(--color-text);
}
