.container {
  display: grid;
  align-content: start;
  position: relative;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.content {
  position: absolute;
  left: 0;
  width: 400px;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.open {
  transform: none;
  width: 400px;
}

.nav {
  position: absolute;
  left: 100%;
  top: calc(50% - 80px);
  z-index: 9000;
}

.nav__button {
  padding: 0.5em;
  display: grid;
  color: var(--color-text);
  background: var(--color-shade-one);
}

.nav__active {
  color: var(--color-primary);
  background: var(--color-shade-two);
}

.nav__button:disabled {
  cursor: default;
  color: var(--color-shade-three);
  background: var(--color-shade-one);
}

.nav__button:not(:disabled):hover {
  background: var(--color-shade-three);
}

.nav svg,
.nav img {
  width: 16px;
  height: 16px;
  color: inherit;
}

.nav__border {
  border-top: 1px solid var(--color-shade-three);
}
