.container:not(:first-of-type) {
  border-top: 1px solid var(--color-shade-three);
}

.category {
  font-size: 1em;
  font-family: var(--font-family-primary);
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
