.form {
  display: grid;
  grid-template-columns: 1fr auto;
  background: var(--color-shade-two);
  border-radius: var(--border-radius);
}

.form textarea {
  resize: none;
  padding-left: 0.5em;
}

.form input[type='submit'] {
  grid-column: 2;
  grid-row: 1 / 3;
  padding: 1em;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  color: var(--color-primary);
  background: var(--color-three);
}
.form input[type='submit']:hover {
  background: var(--color-shade-three);
}

.form input[type='submit']:disabled {
  cursor: default;
  color: var(--color-trivial);
}

.form small {
  text-align: center;
  margin-bottom: 0.3em;
  color: var(--color-trivial);
}
