.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  text-align: left;
  align-items: baseline;
  padding: 1em;
}

.container:hover {
  background-color: var(--color-shade-three);
}

.container > img {
  align-self: self-start;
  grid-row: 1 / 3;
}

.name {
  font-size: 0.9em;
  color: var(--color-trivial);
}
.createdAt {
  color: var(--color-trivial);
}

.message {
  grid-column: 1 /3;
}

.message img {
  display: block;
  max-height: 256px;
  max-width: 100%;
  margin: 0.5em 0;
}
