.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--color-shade-three);
  user-select: none;
  padding-left: 0.5em;
}

.title {
  margin: 0;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  color: var(--color-text);
  font-family: var(--font-family-primary);
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.logo {
  height: 1.7em;
  width: 1.7em;
}

.controls {
  display: flex;
}

.button {
  display: inline-flex;
  cursor: default;
  background: none;
  font-size: 1em;
  height: 2em;
  width: 2em;
  padding: 0;
  color: var(--color-shade-four);
}

.button > * {
  width: 100%;
  height: 100%;
}

.button:hover {
  background-color: var(--color-shade-two);
}

.button--danger:hover {
  background-color: var(--color-alert);
}

.button--github {
  padding: 0.45em;
}

.button--discord:hover {
  color: #7289da;
}

.button--padded {
  padding: 0.6em;
}
