.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--color-shade-three);
  user-select: none;
  padding-left: 0.5em;
}

.title {
  margin: 0;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  color: var(--color-text);
  font-family: var(--font-family-primary);
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.logo {
  height: 1.7em;
  width: 1.7em;
}

.button {
  cursor: default;
  background: none;
  height: 2em;
  width: 2em;
  padding: 0.6em;
  color: var(--color-shade-four);
}

.button:hover {
  background-color: var(--color-shade-two);
}

.button--danger:hover {
  background-color: var(--color-alert);
}
