.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9000;
}

.content {
  position: absolute;
  inset: 0;
  margin: auto;
  border: 1px solid var(--color-shade-two);
  background-color: var(--color-shade-one);
  padding: 1em;
  width: 800px;
  height: 560px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
}

.close {
  display: grid;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  padding: 0;
  color: var(--color-text);
  height: 0.7em;
  width: 0.7em;
}

.close svg {
  height: 100%;
  width: 100%;
}

.main {
  overflow: hidden;
}
