.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: grid;
  place-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: var(--color-text);
  display: flex;
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

.close:hover {
  background: var(--color-shade-two);
}

.close svg {
  padding: 0.2em;
  height: 100%;
  width: 100%;
}

.modal {
  background: var(--color-shade-one);
  border-radius: var(--border-radius);
  padding: 1.5em 2em;
  min-width: 400px;
  text-align: center;
  width: 60vw;
  max-height: 80vh;
  position: relative;
  display: grid;
  gap: 1em;
}

.fullHeight {
  height: 80vh;
}
