.container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9000;
}

.content {
  position: absolute;
  inset: 0;
  margin: 10% 20%;
  border: 1px solid var(--color-shade-two);
  background-color: var(--color-shade-one);
}
