.header {
  border-bottom: 1px solid var(--color-shade-two);
  padding-bottom: 1em;
}

.form {
  display: grid;
  gap: 1em;
}

.form label {
  margin-left: 0.2em;
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  gap: 1em;
}

.form input,
.form select {
  border-radius: var(--border-radius);
  background: var(--color-shade-three);
}

.form input[type='submit'] {
  color: var(--color-text);
  background: var(--color-primary);
}

.form input[type='submit']:disabled {
  cursor: default;
  color: var(--color-trivial);
  background: var(--color-three);
}

.form select {
  appearance: none;
}
