.container {
  height: 100vh;
  max-height: 100vh;
  background: var(--color-shade-one);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  position: relative;
}

.container > header {
  grid-column: 1 / 4;
}
