*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  opacity: 0.5;
}

:root {
  --color-primary: #ffb10f;
  --color-text: #b2b2b2;
  --color-trivial: #ababab;
  --color-shade-one: #232220;
  --color-shade-two: #141312;
  --color-shade-three: #333;
  --color-shade-four: #efefef;
  --color-alert: #b61313;
  --border-radius: 0.5em;
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Segoe UI', sans-serif;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  margin: 0;
  font-family: var(--font-family-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  overflow: hidden;
}

a {
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
textarea,
select {
  background: none;
  color: inherit;
  border: none;
  padding: 0.5em;
  outline: none;
}

button,
input[type='submit'],
a {
  outline: none;
  cursor: pointer;
  border: none;
  background: var(--color-shade-four);
  color: var(--color-shade-one);
  transition: all 0.1s ease-in;
}

svg {
  fill: currentColor;
}

@keyframes show {
  0%,
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

*[data-tooltip] {
  position: relative;
}

*[data-tooltip]:hover::after {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9000;
  content: attr(data-tooltip);
  width: max-content;
  color: var(--color-text);
  background-color: var(--color-shade-one);
  padding: 0.5em;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-shade-two);
  animation: show 0.5s;
}

*[data-tooltip-position='right']:hover::after {
  top: 0;
  left: 120%;
  transform: none;
}
