.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1em;
}

.stepper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
}

.step {
  background: none;
  color: var(--color-text);
}

.step:disabled {
  color: var(--color-trivial);
  cursor: default;
}

.active {
  text-decoration: underline;
}

.number {
  display: inline-block;
  background: var(--color-primary);
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  padding: 0.2em;
}

.step:disabled .number {
  background: var(--color-shade-two);
}
