.form {
  display: grid;
  grid-template-rows: 1fr auto;
}

.label {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.inputs {
  display: grid;
  gap: 1em;
  place-content: center;
  align-items: center;
}

.input {
  border-bottom: 1px solid var(--color-shade-four);
  margin: 0 1em;
  padding-bottom: 0;
}

.submit {
  align-self: end;
  justify-self: stretch;
  padding: 1em;
  background: var(--color-shade-two);
  color: var(--color-primary);
}

.submit:disabled {
  background: var(--color-trivial);
  color: var(--color-shade-two);
  cursor: default;
}
