.container {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
}

.filter {
  color: var(--color-text);
  background: var(--color-shade-two);
  border: 1px solid var(--color-shade-one);
  padding: 1em;
  display: grid;
  place-items: center;
  align-content: center;
  gap: 1em;
}

.filter:hover {
  background: var(--color-shade-three);
}

.image {
  height: 4em;
  width: 4em;
}
