.container {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 0.5em;
}

.input {
  border-bottom: 1px solid var(--color-shade-four);
  margin: 0 1em;
  padding-bottom: 0;
}

.selection {
  display: grid;
  grid-auto-flow: column;
}

.save {
  padding: 1em;
  background: var(--color-primary);
  color: var(--color-text);
}
