.container {
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  align-items: center;
}

.preview {
  display: grid;
  justify-items: center;
  gap: 1em;
}
.screenshot {
  width: 530px;
  height: 300px;
  object-fit: contain;
  display: grid;
  place-items: center;
}

.upload {
  padding: 1em;
  background: var(--color-shade-two);
  color: var(--color-primary);
}

.hidden {
  display: none;
}

.actions {
  display: flex;
  gap: 1em;
  align-items: center;
}

.action {
  cursor: pointer;
  display: inline-block;
  padding: 1em;
  background: var(--color-shade-two);
  color: var(--color-primary);
  font-size: 1em;
}

.upload:disabled,
.action:disabled,
.disabled {
  background: var(--color-trivial);
  color: var(--color-shade-two);
  cursor: default;
}
