.container {
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  align-items: center;
}

.preview {
  display: grid;
  justify-items: center;
}
.screenshot {
  max-width: 400px;
  max-height: 300px;
}

.upload {
  padding: 1em;
  background: var(--color-shade-two);
  color: var(--color-primary);
}

.upload:disabled {
  background: var(--color-trivial);
  color: var(--color-shade-two);
  cursor: default;
}
