.map {
  height: 100%;
  width: 100%;
  background: black !important;
}

.follow {
  position: absolute;
  z-index: 9999;
  bottom: 12px;
  left: 12px;
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
}

.follow--active {
  background: var(--color-primary);
  color: var(--text-color);
}

/* stylelint-disable */
:global(.leaflet-container) {
  font-family: var(--font-family-secondary);
}

:global(.leaflet-position) {
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
}

:global(.leaflet-polygon-text) {
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
  width: auto !important;
  font-size: 1em;
}

:global(.leaflet-polygon-text-0) {
  font-size: 0.5em;
}

:global(.leaflet-polygon-text-1) {
  font-size: 0.8em;
}

:global(.leaflet-marker-icon) {
  border-radius: 100%;
  background: var(--color-shade-three);
  padding: 2px;
  border: 1px solid var(--color-text);
}

/* stylelint-enable */
