.container {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5em;
  height: 100%;
}

.header {
  display: grid;
  grid-auto-flow: column;
  grid-template: auto auto auto / auto 1fr auto;
  column-gap: 1em;
  border-bottom: 1px solid var(--color-shade-three);
  padding-bottom: 0.5em;
}

.header h2 {
  align-self: end;
}

.header img,
.header a {
  grid-row: 1 / 4;
}

.preview {
  height: 4em;
  width: auto;
}
.main {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.empty {
  margin: auto;
}

.aside {
  display: flex;
  justify-content: space-between;
}
