.container {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 0.5em;
}

.headline {
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: 128px 1fr;
  border-bottom: 1px solid var(--color-shade-two);
  padding-bottom: 0.5em;
}

.header h2 {
  align-self: end;
}

.header img {
  grid-row: 1 / 3;
}

.main {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.empty {
  margin: auto;
}
